.menuBank {
  background-color: #212421;
}

.noCard p {
  margin: 0;
  color: #828282;
}

.noCardButt {
  float: none;
  margin: 0;
  margin-top: 10px;
  padding: 10px 40px;
}

.parts {
  display: flex;
}

.partCard {
  width: 35%;
}

.partTrans {
  width: 65%;
  margin-left: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: all 0.20s ease 0s;
}

.card:hover {
  background-color: #212421;
}

.cardChoise {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #212421;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  z-index: 1;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.cardName {
  margin: 0;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.cardNameChoise {
  font-weight: normal;
}

.cardSettings {
  display: block;
  letter-spacing: 1px;
  z-index: 2;
}

.cardSettings i {
  color: #828282;
  cursor: pointer;
  transition: all 0.20s ease 0s;
}

.cardSettings i:hover {
  color: #1e5128;
}

.cardSettings i:last-child:hover {
  color: #b31212b9;
}

.cardInf {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardInfChoise {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cardBalance {
  margin: 0;
  margin-top: 3px;
  color: #828282;
  font-size: 20px;
}

.cardBalanceChoise {
  margin: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.cardBalanceTransfer {
  margin: 0;
  color: #828282;
}

.cardDesign_Balance {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 110px;
  height: 70px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.cardDesign {
  width: 120px;
  height: 75px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}

.cardNumber {
  position: absolute;
  bottom: 5px;
  right: 10px;
  text-shadow: .7px .7px 5px black;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.buttons {
  display: flex;
  grid-gap: 5px;
}

.bankButt {
  border-radius: 15px;
}

.bankButt i {
  font-size: 20px;
}

.trans {
  margin-top: 5px;
}

.transElement {
  border-radius: 10px;
  background-color: #191a19;
  cursor: pointer;
  transition: all 0.20s ease 0s;
}

.transElement:hover {
  background-color: #212421;
}

.transElementStyle {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transUserInf {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}

.userAvaTrans {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.nameTrans {
  margin: 0;
  color: white;
}

.balanceChange {
  font-size: 18px;
}

.windBank {
  width: 30%;
}

.windText {
  margin: 0;
  margin-top: 10px;
  color: white;
}

.cardDesignsHeader {
  margin: 15px 0 10px 0;
  color: #828282;
}

.cardDesigns {
  display: flex;
  justify-content: space-between;
}

.cardDes {
  width: auto;
}

.cardDesignNewCard {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  cursor: pointer;
  border: 2px solid #212421;
}

.cardDes input:checked+.cardDesignNewCard {
  border: 2px solid #4e9f3d;
}

.buttonDelCard {
  display: flex;
  grid-gap: 5px;
}

.buttonDelCard button {
  width: 100%;
  float: none;
  background-color: #191a19;
}

.wind-transaction {
  display: grid;
  grid-gap: 5px;
}

.wind-trans-error {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #982B1C;
  background-color: #982a1c1d;
  color: #982B1C;
  text-align: center;
  font-weight: 600;
}

.wind-trans-butt {
  margin-top: 10px;
}

.transHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.trans-ava {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
}

.trans-header-date {
  color: #828282;
}

.hr-trans {
  position: absolute;
  width: 100%;
  left: 0;
}

.trans-info-balance {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-top: 25px;
}

.trans-info-basemant {
  margin-top: 10px;
  display: grid;
  grid-gap: 5px;
}

.trans-info-butt {
  text-align: left;
}

.trans-info-butt i {
  position: absolute;
  margin-top: 2px;
}

.trans-info-butt p {
  margin-left: 25px;
}

.stats {
  display: flex;
  grid-gap: 5px;
}

.stats-el {
  background-color: #191a19;
  padding: 10px;
  text-align: center;
}

.stats-header {
  font-size: 18px;
}

.stats-plus-header {
  rotate: 90deg;
}

.stats-info {
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #4e9f3d;
}

.stats-info-minus {
  color: #982B1C;
}

.stats-basemant {
  color: #828282;
  margin: 10px 0;
}

.penaltyBack {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  font-size: 25px;
  color: white;
  margin: 0 0 5px 0;
}

@media (max-width: 550px) {
  .parts {
    display: block;
  }

  .partCard {
    width: 100%;
  }

  .partTrans {
    width: 100%;
    margin: 0;
    margin-top: 10px;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  .windBank {
    width: 100%;
  }

  .cardDesigns {
    overflow-x: auto;
  }
}