@import url('interface.css');

.content {
  display: block;
  margin: 0 360px 0 605px;
  position: relative;
}

.menu {
  margin-left: 360px;
  float: left;
  width: 240px;
}

.menuButt {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  padding: 15px 0;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.20s ease 0s;
}

.menuButt:hover {
  background-color: #212421;
}

.menuIcon {
  position: absolute;
  text-indent: 10px;
}

.menuText {
  margin: 0;
  margin-left: 40px;
}

.profileRoleUser {
  text-align: center;
  color: #7ED7C1;
  padding: 4px 10px;
  border: 2px solid #7ED7C1;
  border-radius: 10px;
}

.profileRoleAdmin {
  color: #B31312;
  border: 2px solid #B31312;
}

.profileRoleBank {
  color: #9ADE7B;
  border: 2px solid #9ADE7B;
}

.profileRoleModer {
  color: #4CB9E7;
  border: 2px solid #4CB9E7;
}

#ava {
  border-radius: 30px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}

.version {
  font-size: 14px;
  color: #82828270;
}

.tabletMenu {
  display: none;
  float: left;
  margin-left: 70px;
  width: 55px;
}

.tabletMenuPart {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  transition: all 0.20s ease 0s;
  padding: 10px 0;
  margin-bottom: 3px;
}

.tabletMenuPart:hover {
  background-color: #212421;
}

.tabletMenuIcon {
  font-size: 20px;
}

.tabletMenuText {
  margin-top: 5px;
  font-size: 12px;
}

.mobile-menu {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  background-color: #212421;
  border-top: 1px solid #414141;
}

.mobile-menu-list {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

.mobile-menu-part {
  text-align: center;
}

.mobile-menu-part i {
  font-size: 18px;
}

.mobile-menu-text {
  font-size: 12px;
  color: #fff;
}

.burger-menu-back {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;
}

.burger-butt {
  margin-bottom: 5px;
  font-size: 18px;
}

.burger-menu {
  position: absolute;
  bottom: 50px;
  border-radius: 0;
}

.burger-menu-style {
  padding: 5px;
  display: grid;
  grid-gap: 5px;
}

.burger-menu-style button {
  text-align: start;
}

@media (max-width: 1024px) {
  .content {
    padding: 0;
    margin: 0 70px 0 130px;
  }

  .menu {
    display: none;
  }

  .tabletMenu {
    display: block;
  }
}

@media (max-width: 550px) {
  .tabletMenu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .content {
    display: block;
    margin: 0 5px 60px 5px;
    padding: 0;
  }

  .menu {
    display: none;
  }
}