.upMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 360px;
}

.upMenuLogo {
  display: flex;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.logoText {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
  margin-left: 5px;
}

.upMenuInf {
  display: flex;
  grid-gap: 15px;
  align-items: center;
}

.notif-elements {
  position: relative;
  cursor: pointer;
}

.notif-bell {
  font-size: 25px;
}

.notif-bell:hover {
  color: #1e5128;
  transition: all 0.20s ease 0s;
}

.unread-notif-dot {
  width: 7px;
  height: 7px;
  background-color: #1e5128;
  border: 2px solid #191a19;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
}

.ava {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.20s ease 0s;
}

.ava:hover {
  background-color: #1e5128;
  opacity: 0.6;
}

.wind-notif {
  display: none;
  width: 25%;
  height: 60%;
  position: absolute;
  right: 390px;
  top: 50px;
  background-color: #212421;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  font-size: 16px;
}

.wind-notif-header {
  color: white;
  margin: 10px;
  font-size: 18px;
}

.wind-notif-el {
  display: flex;
  grid-gap: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.20s ease 0s;
}

.wind-notif-el:hover {
  background-color: #191a19;
}

.wind-notif-info {
  width: 70%;
}

.wind-notif-date {
  font-size: 14px;
  color: #828282;
  margin-top: 5px;
}

.wind-notif-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  right: 10px;
}

.wind-notif-icon {
  font-size: 35px;
  text-align: center;
}

.wind-user {
  width: 10%;
  height: auto;
  right: 360px;
  padding: 10px;
}

.wind-user-butt {
  text-align: start;
  margin-top: 5px;
}

.wind-user-butt:first-child {
  margin: 0;
}

.windUserButt:hover {
  background-color: #1e5128;
}

.open {
  display: block;
  z-index: 100;
}

@media (max-width: 1024px) {
  .upMenu {
    margin: 0 70px;
  }
}

@media (max-width: 992px) {}

@media (max-width: 550px) {
  .upMenu {
    margin: 0 5px;
  }
}